body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #083856;
    position: relative;
}
.borda-superior {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px; /* Ajuste o tamanho conforme necessário */
}

.borda-inferior {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    rotate: 180deg;
}

body {
    font-family: Arial, sans-serif;
    background-color: #083856;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 40px;
    color: white;
}

.fundadores-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 70%;
    height: 60%;
}

.fundador {
    text-align: center;
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100% !important;
    height: 100% !important;
}

.foto-fundador {
    width: 100%;
    background-color: #ddd;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.foto-fundador img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #A7D5F2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button i {
    margin-right: 8px;
}

/* Estilos para o Popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

/* Tornar o layout responsivo */
@media (max-width: 600px) {
    body {
      height: 100%;
    }

    html {
        height: 100%;
    }
  
    .top {
      flex-direction: column;
    }
  
    .button {
      flex-direction: column; 
      justify-content: center;
      align-items: center; 
      gap: 10px;
      margin-bottom: 10px;
    }
  
    .button button {
      width: 90%;
    }
  
    .Button button {
        font-size: 14px;
        padding: 8px 16px;
        margin: 5px;
    }

    .fundadores-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }

    .fundador {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .foto-fundador {
        width: 70%;
        margin: 0;
        border-radius: 5px;
    }

    .botoes {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .botoes button {
        width: 100%;
    }
  }